.advantages {
	position: relative;
	display: flex;
	margin-bottom: 115px;

	&::before,
	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&::before {
		left: -40px;
		top: -40px;
		width: 120px;
		height: 121px;
		background-image: url(../../images/advantages/Decor-left.svg);
	}

	&::after {
		right: -23px;
		bottom: -23px;
		width: 65px;
		height: 52px;
		background-image: url(../../images/advantages/decor-right.svg);
	}

	&__item {
		margin-right: 30px;
		padding: 160px 10px 60px;
		width: 370px;
		max-width: 100%;
		box-shadow: 20px 0 60px 0 rgba(202, 202, 202, 0.35);
		background-color: #fff;
		transition: transform 0.7s;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			transform: scale(1.05);
		}
	}

	&__content {
		position: relative;
		margin: 0 auto;
		width: 290px;
		max-width: 100%;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: -100px;
			width: 60px;
			height: 60px;
			background-size: contain;
			background-repeat: no-repeat;
		}

		&--free-shipping::before {
			background-image: url(../../images/advantages/icon1.png);
		}

		&--easy-return::before {
			background-image: url(../../images/advantages/icon2.png);
		}

		&--support::before {
			background-image: url(../../images/advantages/icon3.png);
		}
	}

	&__name {
		display: block;
		margin-bottom: 10px;
		font-family: "Roboto";
		font-weight: 400;
		font-size: 22px;
		line-height: 26 / 22 * 100%;
		color: $title-color;
	}
}
