.page-404 {
	&__inner {
		padding: 260px 0 270px;
		background-position: right center;
		background-size: 50%;
		background-repeat: no-repeat;
	}

	&__name {
		display: block;
		margin-bottom: 25px;
		max-width: 530px;
		line-height: 38 / 26 * 100%;
		color: #28384f;
	}

	&__text {
		margin-bottom: 60px;
		max-width: 470px;
	}
}
