.products {
	padding: 120px 0 75px;

	&__title {
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	&__item {
		margin: 0 30px 45px 0;
	}
}
