.slider-top {
	padding: 65px 0 37px;

	&__item {
		display: flex !important;
		justify-content: space-between;
	}

	&__content {
		margin: auto auto auto 0;
		padding-left: 160px;
		max-width: 730px;
	}

	&__title {
		margin-bottom: 25px;
		font-size: 58px;
		line-height: 68 / 58 * 100%;
		text-align: start;
	}

	&__text {
		margin-bottom: 55px;
		max-width: 470px;
	}

	.slick-dots {
		display: flex;
		justify-content: center;
		margin-top: -70px;

		li {
			margin-right: 5px;

			&:last-child {
				margin-right: 0;
			}

			button {
				position: relative;
				border: 1px solid transparent;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				font-size: 0;
				background-color: transparent;

				&::before {
					content: "";
					position: absolute;
					left: 50%;
					top: 50%;
					border-radius: 50%;
					width: 6px;
					height: 6px;
					background-color: $default-color;
					transform: translate(-50%, -50%);
				}
			}
		}

		.slick-active {
			button {
				border-color: $accent-color;

				&::before {
					background-color: $accent-color;
				}
			}
		}
	}
}
