.trending {
	padding: 120px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__video {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 535px;
		height: 480px;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__content {
		padding-top: 80px;
		max-width: 570px;
	}

	&__subtitle {
		display: block;
		margin-bottom: 20px;
		font-size: 22px;
		line-height: 26 / 22 * 100%;
		text-transform: uppercase;
		color: $accent-color;
	}

	&__title {
		margin-bottom: 40px;
		text-align: start;
		text-transform: uppercase;
	}

	&__text {
		margin-bottom: 60px;
	}
}
