@font-face {
	font-family: "Quicksand-400";
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/Quicksand-Regular.woff2) format("woff2");
	src: url(../fonts/Quicksand-Regular.woff) format("woff");
	font-display: swap;
}
