html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	font-family: "Quicksand";
	font-weight: 500;
	font-size: 16px;
	line-height: 26 / 16 * 100%;
	color: $default-color;
}

main {
	flex-grow: 1;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;

	&--big {
		max-width: 1520px;
	}
}

.title {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 48px;
	text-align: center;
	color: $title-color;
}

.subtitle {
	margin: 0 auto 60px;
	max-width: 570px;
	text-align: center;
}
