body {
	font-family: "Quicksand-500";
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	color: $default-color;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	font-family: "Roboto-700";
	font-weight: 700;
	font-size: 48px;
	color: $title-color;
}
