.btn-main {
	border: none;
	padding: 15px 25px;
	box-shadow: 0 7px 20px 0 rgba(255, 17, 48, 0.3);
	font-family: "Roboto";
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	background-color: $accent-color;
}
