.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	border: 1px solid $accent-color;
	width: 170px;
	height: 50px;
	font-family: "Roboto";
	font-weight: 400;
	text-transform: uppercase;
	color: $title-color;
	background-color: transparent;
}
