.card-product {
	max-width: 370px;

	&.card-product--list {
		display: flex;
		max-width: 100%;

		.card-product__box {
			margin-bottom: 0;
			width: 200px;
			height: 250px;
		}

		.card-product__img {
			height: 100%;
			object-fit: cover;
		}

		.card-product__sale {
			top: 190px;
		}

		.card-product__nav {
			top: 50%;
			bottom: 50%;
			align-items: baseline;
			width: 115px;
			box-shadow: none;
			background-color: transparent;
			transform: translateY(-50%);
		}

		.card-product__item {
			border-right: none;
		}

		.card-product__item:nth-child(2) {
			display: none;
		}

		.card-product__link {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			padding: 0;
			width: 50px;
			height: 50px;
			background-color: #fff;
		}

		.card-product__wrapper-box {
			border: 1px solid #ececec;
			padding: 20px 40px;
		}

		.card-product__content {
			display: flex;
			flex-wrap: wrap;
		}
		.star {
			margin: 0;
		}

		.card-product__title {
			order: (-1);
			width: 100%;
			text-align: start;
		}

		.card-product__prices {
			order: (-1);
			margin: 0 20px 10px 0;
		}

		.card-product__price {
			padding-left: 0;
		}

		.card-product__content-box {
			display: block;
		}

		.card-product__text {
			margin-bottom: 25px;
		}

		.card-product__btn {
			box-shadow: none;
			text-transform: lowercase;
			background-color: $title-color;
			transition: border-color 0.5s, background-color 0.5s, box-shadow 0.5s;
			letter-spacing: 0;

			&:hover {
				box-shadow: 0 7px 20px 0 rgba(255, 17, 48, 0.3);
				color: #fff;
				background-color: $accent-color;
			}
		}
	}

	&--sale {
		.card-product__sale {
			opacity: 1;
		}

		.card-product__old-price {
			display: inline-block;
		}
	}

	&__box {
		position: relative;
		margin-bottom: 30px;
		width: 370px;
		height: 370px;

		&:hover {
			.card-product__nav {
				opacity: 1;
			}
		}
	}

	&__sale {
		position: absolute;
		left: 25px;
		top: 25px;
		display: inline-block;
		padding: 5px 10px;
		box-shadow: 0 7px 20px 0 rgba(254, 62, 87, 0.25);
		font-family: "Roboto";
		font-weight: 400;
		text-transform: uppercase;
		color: #fff;
		background-color: $accent-color;
		opacity: 0;
	}

	&__nav {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 50px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: 0 auto;
		border-radius: 30px;
		width: 212px;
		height: 50px;
		max-width: 100%;
		box-shadow: 0 5px 30px 0 rgba(152, 152, 152, 0.2);
		background-color: #fff;
		opacity: 0;
		transition: opacity 0.7s;
	}

	&__item {
		border-right: 1px solid $default-color;

		&:last-child {
			border-right: none;
		}
	}

	&__link {
		display: block;
		padding: 0 25px;
		height: 20px;

		path {
			transition: fill 0.7s;
		}

		&:hover {
			path {
				fill: $accent-color;
			}
		}
	}

	&__title {
		margin-bottom: 10px;
		font-weight: 400;
		font-size: 22px;
		line-height: 26 / 22 * 100%;
	}

	&__prices {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
		font-family: "Roboto";
		font-weight: 500;
	}

	&__price {
		padding: 0 12px;
		color: $title-color;
	}

	&__old-price {
		display: none;
		padding: 0 12px;
		text-decoration: line-through;
	}

	&__content-box {
		display: none;
	}
}

.star {
	margin: 0 auto 20px;
}
